<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.reports.ExtentReporterNG"></listener>
	</listeners>
  <test thread-count="5" name="Test">
	 
    <classes>
      <class name="com.testcases.LoginTest"/>
      <class name="com.testcases.Usertype_test"/>
      <class name="com.testcases.Customers_test"/>
      <class name="com.testcases.Condition_test"/>
      <class name="com.testcases.Location_Test"/>
      <class name="com.testcases.Inventory_test"/>
      <class name="com.testcases.Holidays_testing"/>
      <class name="com.testcases.Movingstocktest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
